.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;

}
.photo
{
    min-width: 350px;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 10px 5px rgb(139, 136, 136);
    font-size: 1.4rem;
    margin: auto;
}
.me
{
    width: 100%;
}
.name
{
    padding: 3% 0;
}
*
{
    margin: 0;
}